<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Submit Your Enquiry</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal form-label-left">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 bgcolorchange1"
                                                    for="">Reference No <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required"
                                                        class="form-control input-mini" value="1001" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 bgcolorchange"
                                                    for="">Date Time <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required" class="form-control"
                                                        value="19/05/2020 02:27:30 PM" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Enquiry Mode
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control input-mini">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Student Name
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">DOB</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="date" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">School Name
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                                      <div class="item form-group">
                                                          <label class="col-form-label col-md-4 col-sm-4 " for="">Application Form <span class="required">*</span></label>
                                                          <div class="col-md-6 col-sm-6">
                                                              <div id="application" class="btn-group" data-toggle="buttons">
                                                                  <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="application" value="UG" class="join-btn"> UG
                                                                  </label>
                                                                  <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="application" value="PG" class="join-btn"> PG
                                                                  </label>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div> -->
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Course <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control input-mini"
                                                        value="1001">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Available
                                                    Seats</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Enquiry Status
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control input-mini"
                                                        value="1001">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Mobile Number
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Alternate Mobile
                                                    Number</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Call Category
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" class="form-control" required="required">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Parent Name
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Father Office
                                                    Address</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Mother Office
                                                    Address</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Guardian Office
                                                    Address</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Address <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Call Description
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Follow-up
                                                    Required <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="date" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Whatsapp
                                                    Number</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Email <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="email" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <!-- <button class="btn btn-secondary" type="reset">Cancel</button> -->
                                            <button type="submit" routerLink="/payment"
                                                class="btn btn-success">Submit</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>