<div class="container body">
    <div class="main_container">

        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="jumbotron">
                                    <h1>Congratulations!</h1>
                                    <p class="mb-4">Your application is submitted successfully. Please download the
                                        application.</p>
                                    <button class="btn btn-success">Download Application</button>
                                    <button class="btn btn-secondary">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>