.aligndropdown{
    float: right;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 0px;
    border-top-width: 0px;
    
}
.aligndropdownmenu{
    padding-left: 154px;
}
.aligndropdownicon{
    padding-left: 0px;
    padding-right: 42px;
    border-top-width: 0px;
    padding-top: 22px;
}