<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Payment</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form class="form-horizontal form-label-left">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Reference No
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required"
                                                        class="form-control input-mini" value="1001" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Date Time <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required" class="form-control"
                                                        value="19/05/2020 02:27:30 PM" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Application Form
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <div id="application" class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                            data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="application" value="UG"
                                                                class="join-btn"> UG
                                                        </label>
                                                        <label class="btn btn-secondary" data-toggle-class="btn-primary"
                                                            data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="application" value="PG"
                                                                class="join-btn"> PG
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Course <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Student Name
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" required="required" class="form-control"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Mobile Number
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Amount <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control" disabled>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Collection Mode
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <select id="" required="required" class="form-control">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Collected By
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="search" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 "
                                                    for="">Particulars</label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4 " for="">Father Name
                                                    <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4" for="">Father Contact
                                                    Number <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4" for="">Application
                                                    Number <span class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <input type="text" id="" class="form-control" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-4 col-sm-4" for="">Payment By <span
                                                        class="required">*</span></label>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-control-plaintext">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="payment"
                                                                id="dd" value="dd_pay">
                                                            <label class="form-check-label" for="">DD</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="payment"
                                                                id="cash" value="cash_pay">
                                                            <label class="form-check-label" for="">Cash</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="payment"
                                                                id="online" value="online_pay">
                                                            <label class="form-check-label" for="">Online</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="hidden" id="dd_pay">
                                                <div class="x_panel bg-blue-sky">
                                                    <div class="x_content">
                                                        <h4>DD Favor Details</h4>
                                                        <p>The Accountant, Chalo School Management</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <!-- <button class="btn btn-secondary" type="reset">Cancel</button> -->
                                            <a href="enquiry.html" class="btn btn-secondary">Back</a>
                                            <button type="button" class="btn btn-success hidden" id="online_pay">Proceed
                                                To Payment</button>
                                            <!-- <a href="application-form.html" class="btn btn-success">Submit</a> -->
                                            <button type="submit" routerLink="/form"
                                                class="btn btn-info">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>