<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Group List</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><button class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#addnewgroup">Add New</button>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width:30px;">S.No</th>
                                            <th>Group ID</th>
                                            <th>Group Name</th>
                                            <th>Display Name</th>
                                            <th style="width:80px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>G001</td>
                                            <td>General Information</td>
                                            <td>General Information - ARTS</td>
                                            <td>
                                                <button class="btn btn-xs btn-success" data-toggle="modal"
                                                    data-target="#addnewgroup"><i class="fa fa-pencil"
                                                        title="Edit"></i></button>
                                                <button class="btn btn-xs btn-info" title="Clone"><i
                                                        class="fa fa-copy"></i></button>
                                                <button class="btn btn-xs btn-danger" title="Delete"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                    
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>G002</td>
                                            <td>School Information</td>
                                            <td>General Information - ARTS</td>
                                            <td>
                                                <button class="btn btn-xs btn-success" data-toggle="modal"
                                                    data-target="#addnewgroup"><i class="fa fa-pencil"
                                                        title="Edit"></i></button>
                                                <button class="btn btn-xs btn-info" title="Clone"><i
                                                        class="fa fa-copy"></i></button>
                                                <button class="btn btn-xs btn-danger" title="Delete"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>G003</td>
                                            <td>Parent Information</td>
                                            <td>Parent Information - ARTS</td>
                                            <td>
                                                <button class="btn btn-xs btn-success" data-toggle="modal"
                                                    data-target="#addnewgroup"><i class="fa fa-pencil"
                                                        title="Edit"></i></button>
                                                <button class="btn btn-xs btn-info" title="Clone"><i
                                                        class="fa fa-copy"></i></button>
                                                <button class="btn btn-xs btn-danger" title="Delete"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                         
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>G004</td>
                                            <td>Address Information</td>
                                            <td>Address Information - ARTS</td>
                                            <td>
                                                <button class="btn btn-xs btn-success" data-toggle="modal"
                                                    data-target="#addnewgroup"><i class="fa fa-pencil"
                                                        title="Edit"></i></button>
                                                <button class="btn btn-xs btn-info" title="Clone"><i
                                                        class="fa fa-copy"></i></button>
                                                <button class="btn btn-xs btn-danger" title="Delete"><i
                                                        class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>